In [1]:
import findspark
findspark.init()

import pyspark
from pyspark import SparkConf, SparkContext, sql
import sys
import re
import random

#import matplotlib


import re
import pandas as pd



#Add this script
import matplotlib

#Before
import matplotlib.pyplot as plt



#%matplotlib inline
#from matplotlib import pyplot as plt
#from pyspark.sql import SQLContext as sqlContext
from pyspark.sql.functions import col

from pyspark.sql import SQLContext
from pyspark import sql
from pyspark.sql.functions import *

sc = SparkContext(appName = "MovieLens")
#lines = sc.textFile("Top10Test9.txt")

sqlContext = sql.SQLContext(sc)

X = pd.read_csv('Top10Test9.txt', sep=",", header=None, names=['Cosine Similarity', 'Count', 'movie_id1', 'movie_id2'])

#df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'preTestScore', 'postTestScore'])
X['Count'].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')
X['movie_id1'].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')
X['movie_id2'].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')
X['Cosine Similarity'] = X['Cosine Similarity'].str[2:]

X

#X.groupby("movie_id2").sum().plot(x="movie_id2", y="Cosine Similarity")
X.drop(X.columns[[1,2]], axis=1, inplace=True)

X

#From this section onwards, tried different methods but could not get graph complete
#X.reset_index()
#X.plot(x=X['movie_id2'], y=X['Cosine Similarity'], kind='bar')


#Xa = X.column['movie_id2']
#Xb=X.column['Cosine Similarity']

#ax = X[('movie_id2', 'Cosine Similarity')].plot(kind="bar", alpha=0.7)

#input_data = pd.read_csv('Top10Test9.txt', header =None);
#x_value = Xa
#y_value = Xb
#mplt.scatter(x_value, y_value)
#mplt.show()


#X.select("Cosine Similarity").show()

#type(X)

#plt.bar(X.columns[1],X.columns[0])        # Column to plot         # Plot size
                     

#import matplotlib
#%matplotlib inline
#import matplotlib.pyplot as plt

#X.plot(kind='bar', x='movie_id2', y='Cosine Similarity')
#plt.bar(x="movie_id2", y="Cosine Similarity", kind="bar")
#plt.title("Cosine Similarity between movie_id=1 and another\n")
#plt.xlabel("movie_id2")
#plt.ylabel("Cosine Similarity")

#X.plot(x='movie_id2', y='Cosine Similarity', kind='bar' )
#plt.show()

     Cosine Similarity movie_id2
0   0.9870527833135339      3114
1   0.9805934427505862      4886
2   0.9794782283994817      6377
3   0.9791894130369364      8961
4    0.978355863684741      2355
5   0.9775885245901312     50872
6   0.9750686417766372      3429
7    0.974663000337929       745
8   0.9742416810091952      1148
9    0.973921081134884      1198
10  0.9731162357516979      1223
11   0.972838743660315      1262
12  0.9726882740114053     45517
13   0.972631809603472     59315
14  0.9721997245070063       930
15  0.9721335221805579      1203
16  0.9720894707633678       318
17  0.9719157251517478      6787
18  0.9718717229312679      2186
19    0.97173308724451      6979
20  0.9714784208688538       904
21  0.9714324226044925       720
22  0.9714015656093555      4327
23  0.9712160195564957      4306
24  0.9710197699208314      1270
25  0.9708983279891803       905
26  0.9708021594041962      3435
27  0.9707572424096553       457
28  0.9706874155896578      6331
29  0.9705814375095991     33660
30  0.9705371125671537       908
31    0.97051011722597     58559
32  0.9703253296313982      5103
33  0.9702787278838512      5989
34  0.9702665692482417      2761
35  0.9702660735207165      2501
36  0.9702044942705038      1234
37  0.9701928353304593      3468
38  0.9701700528882293      1242
39   0.970142595443347     38038
40  0.9701395189033779     33794
41  0.9700794901933996       527
42  0.9700116938052503      1950

[43 rows x 2 columns]