In [1]:
import findspark
findspark.init()

import pyspark
import sys
import re

from pyspark import SparkConf, SparkContext, sql
#from pyspark.sql import SQLContext as sqlContext

import numpy as np 
import pandas as pd 


ratings_file = '/data/movie-ratings/ratings.dat'
movies_file = '/data/movie-ratings/movies.dat'


sc = SparkContext(appName = "MovieLens")

ratings = sc.textFile(ratings_file)
sqlContext = sql.SQLContext(sc)
ratings_data=ratings.map(lambda line: re.split(r'::', line))
#r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']

ratings2 =  sqlContext.createDataFrame(ratings_data,['user_id', 'movie_id', 'rating', 'timestamp'])
ratings2.show(10)

# ratings2 = pd.read_csv(ratings_file, sep='::', names = r_cols, usecols=range(4))

# ratings = pd.read_csv("/homes/sc325/bigdata/ml-latest-small/ratings.csratings_data = sc.textFile(ratings_file,lambda line: line.split(r'::'))v", sep=',', names = r_cols, usecols=range(4))


movies = sc.textFile(movies_file)
sqlContext=sql.SQLContext(sc)

movies_data=movies.map(lambda line: re.split(r'::', line))
#r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']

movies2 =  sqlContext.createDataFrame(movies_data, ['movie_id', 'title', 'genre'])
movies2.show(10)
 #todo

#Analysis Piece #1 - Joining all three datasets together
newdf = ratings2.join(movies2, ratings2['movie_id']==movies2['movie_id'],'inner').drop(movies2['movie_id'])
newdf.show(10)
#now joing the new a_join object to moviedata dataframe object
#movie_lens_join = a_join.join(py_movies, a_join['movie_id']==py_movies['movie_id'], 'inner')\
#.drop(a_join['movie_id'])


newdf = ratings2.join(movies2, ratings2['movie_id']==movies2['movie_id'], 'inner')




#newdf['rating'] = newdf['rating'].astype(float)
#newdf['movie_id'] = newdf['movie_id'].astype(int)
#newdf['user_id'] = newdf['user_id'].astype(int)

+-------+--------+------+---------+
|user_id|movie_id|rating|timestamp|
+-------+--------+------+---------+
|      1|     122|     5|838985046|
|      1|     185|     5|838983525|
|      1|     231|     5|838983392|
|      1|     292|     5|838983421|
|      1|     316|     5|838983392|
|      1|     329|     5|838983392|
|      1|     355|     5|838984474|
|      1|     356|     5|838983653|
|      1|     362|     5|838984885|
|      1|     364|     5|838983707|
+-------+--------+------+---------+
only showing top 10 rows

+--------+--------------------+--------------------+
|movie_id|               title|               genre|
+--------+--------------------+--------------------+
|       1|    Toy Story (1995)|Adventure|Animati...|
|       2|      Jumanji (1995)|Adventure|Childre...|
|       3|Grumpier Old Men ...|      Comedy|Romance|
|       4|Waiting to Exhale...|Comedy|Drama|Romance|
|       5|Father of the Bri...|              Comedy|
|       6|         Heat (1995)|Action|Crime|Thri...|
|       7|      Sabrina (1995)|      Comedy|Romance|
|       8| Tom and Huck (1995)|  Adventure|Children|
|       9| Sudden Death (1995)|              Action|
|      10|    GoldenEye (1995)|Action|Adventure|...|
+--------+--------------------+--------------------+
only showing top 10 rows

+-------+--------+------+----------+--------------------+------+
|user_id|movie_id|rating| timestamp|               title| genre|
+-------+--------+------+----------+--------------------+------+
|  38511|    1098|     1| 845975821|Search for One-ey...|Comedy|
|  38790|    1098|     3|1040540711|Search for One-ey...|Comedy|
|  41419|    1098|     2| 853695192|Search for One-ey...|Comedy|
|  41857|    1098|     3| 896636843|Search for One-ey...|Comedy|
|  41883|    1098|     3| 865762499|Search for One-ey...|Comedy|
|  42465|    1098|     5| 897246280|Search for One-ey...|Comedy|
|  42791|    1098|   1.5|1105593562|Search for One-ey...|Comedy|
|  44076|    1098|   4.5|1107692831|Search for One-ey...|Comedy|
|  44885|    1098|     4| 945118576|Search for One-ey...|Comedy|
|  52005|    1098|     4|1043958057|Search for One-ey...|Comedy|
+-------+--------+------+----------+--------------------+------+
only showing top 10 rows

In [2]:
ratings_matrix = newdf.pivot_table(rows=['user_id'],cols=['movie_id'],values='rating')
ratings_matrix.fillna( 0, inplace = True )
ratings_matrix.head(15)
print(newdf.loc[newdf['user_id'] == 4])

AttributeError: 'DataFrame' object has no attribute 'pivot_table'